* {
    margin: 0;
    padding: 0;
}

body {
  font-family: YuGothic, "游ゴシック", "メイリオ", Meiryo, "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", sans-serif;
  background-color: #ddd;
  font-size: 18px;
}

header {
  background-image: url("back.jpg");
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  padding-bottom: 100px;
}

#logo {
  vertical-align: text-bottom;
}

#logo img {
  padding: 10px 10px 10px 10px;
  border-radius: 100%;
}


nav {
　margin: 0 0 100px 0;
　padding: 10px 0;
　text-align: center;
　background-color: #fff;
}

nav ul {
  margin: 0 10px;
  padding: 0;
}

nav ul li {
  margin: 0 20px;
  display: inline-block;
}

nav ul li a {
  padding: 30px 30px;
  text-decoration: none;
  color: green;
  font-weight: bold;
}

.container {
    max-width: 500px;
    margin: 10px auto 0;
    background-color: skyblue;
}


section {
    padding: 10px 5px;
}

section h1 {
    padding: 5px 0 5px 0;
    text-align: center;
    letter-spacing: 0.15em
}